db.sqlite3
.idea
apps/default/__pycache__/*
__pycache__/
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
htmlcov
.env
.coverage
.coverage.*
coverage.xml
.pytest_cache/
staticfiles/
*.pyc
*.log
.claude